.face-detection {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  

 .canvas-container {
    position: absolute;
 } 
.pausePlayBtn  {
    /* width:150px; */
    /* border-radius: 50%; */
    padding: 1.2rem;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    
}

.playBtn {
    background-color: blue;
    color: white
}

.pauseBtn {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.mb-8 {
    margin-bottom: 1rem;
}